body {
    background-image: url('static/images/background-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}
.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.map {
    max-width: 100%;
    height: auto;
    max-width: 150px; 
    margin: 0 auto; 
}

footer {
    margin-bottom: 0px;
}

.bottom {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-evenly;
}

.park-map {
    width: 250px;
    padding: 2%;
    padding-left: 100px;
}

.mapimg {
    width: 250px;
}

.footinfo {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
    margin-left: 10%;
}

.social {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
    padding-right: 25%;
    
}

.section-bg {
    background-image: url('path/to/your/background-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1; 
}

.section-bg:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: -1; 
}

.title-container {
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 20px;
}

.foothead {
    font-size: 2em;
    padding-bottom: 12px;
}

.tiny {
    margin: 12px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}
footer {
    margin-bottom: 0px;
}

.bottom {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-evenly;
}